.card3{
    height:500px;
    background-color:black;
    border-bottom:10px solid grey;

}
.img3{
    margin-top:50px;

}
.text-download{
    margin-top:200px;
}
@media (max-width:768px){
    .card3{
        height:800px;
        
    
    }
    .text-download{
        margin-top:50px;
    }
    .img3{
        margin-top:30px;
    
    }
}
@media (max-width:425px){
    .card3{
        height:auto;
        
    
    }
    .text-download{
        margin-top:20px;
    }
    .img3{
        margin-top:20px;
        scale: 0.8;
    }
}